.my-header.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
}

.reservation-hero .hero-img,
.reservation-hero .hero-img-overlay {
    height: 70vh;
}

.info-boxes {
    position: relative;
    top: -62px;
}

.main-content-reservation {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    overflow-x: hidden;
}

.reservation-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.reservation-form form {
    max-width: 80%;
    margin: auto;
    align-items: end;
}

.reservation-img {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
}

@media (max-width: 1199px) {
    .reservation-img img {
        height: 80%;
    }

    .info-boxes {
        width: 95%;
        margin: auto;
    }

    .main-content-reservation {
        padding-top: 0;
    }
}

@media (max-width: 767px) {

    .hero-img,
    .hero-img-overlay {
        height: 60vh;
    }

    .reservation-img {
        display: none;
    }

    .reservation-form {
        width: 100%;
    }

    .reservation-form form {
        max-width: 95%;
        margin: auto;
        align-items: center;
        padding: 40px 0;
    }

    .reservation-page-container {
        display: flex;
        flex-direction: column-reverse;
    }
}