.reservation-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.reservation-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-text {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.reservation-text p {
    font-size: 32px;
    font-weight: 200;
}

@media (max-width: 800px) {
    .reservation-section {
        padding: 32px 0;
    }
    .reservation-image {
        display: none;
    }

    .reservation-text {
        width: 90%;
        margin: auto;
        gap: 28px;
    }

    .reservation-text p {
        font-size: 24px;
    }
}