@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Montagu+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@import "./components/Components.css";
@import "./pages/home-page/Homepage.css";
@import "./pages/reservation-page/ReservationPage.css";
@import "./pages/eshop/pages/main-page/EshopMainPage.css";
@import "./pages/eshop/eshop-components/EshopComponents.css";

@theme {
  --font-slab: "Montagu Slab", serif;
  --font-montserrat: "Montserrat", sans-serif;

  --breakpoint-xs: 460px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1600px;

  --color-light-brown: rgba(121, 88, 61, 0.25);
}

body,
html,
#root {
  @apply m-0 p-0 h-full w-full scroll-smooth;
}

body {
  @apply overflow-x-hidden;
}

* {
  @apply box-border;
}

p,
a,
form label,
td,
button {
  @apply no-underline font-slab;
}

h1,
h2,
h3,
h4 {
  @apply font-montserrat;
}