.home-hero .hero-img {
  height: 110vh;
}

.home-hero .hero-img-overlay {
  height: 110vh;
}

@media (max-width: 767px) {
  .home-hero .hero-img,
  .home-hero .hero-img-overlay {
    height: 100vh;
  }
}