.gallery-section {
    width: 100vw;
    background-color: black;
}

.slide-content-1 {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    max-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 60px 0;
    gap: 40px;
}

.gallery-text {
    display: flex;
    width: 80%;
    align-items: flex-start;

}

.slide-content-1 p {
    font-size: 39px;
    color: white;
    font-weight: 100;
    width: 65%;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 440px;
    gap: 20px;
    overflow: hidden;
}

.slide-content-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1 1 0;
}

.swiper-button-disabled {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 140px;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    gap: 28px;
}

.gallery-image-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    gap: 28px;
}

.slide-content-2 {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    max-height: 100vh;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 80%;
    height: 42vh;
    margin: auto;
}

.gallery-image-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 28px;
    height: 100%;
    overflow: hidden;
}

.gallery-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.desktop-gallery-swiper {
    display: block;
}

.mobile-gallery-swiper {
    display: none;
}

@media (max-width: 1000px) {
    .desktop-gallery-swiper {
        display: none;
    }

    .mobile-gallery-swiper {
        display: block;
        width: 100%;
    }

    .mobile-gallery-swiper p {
        color: white;
        font-size: 16px;
        font-weight: 200;
        padding: 16px 16px 0 16px;
    }

    .mobile-gallery-swiper .swiper-wrapper {
        align-items: center;
    }

    .mobile-gallery-swiper img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .mobile-gallery-swiper .swiper-button-prev::after,
    .mobile-gallery-swiper .swiper-button-next::after {
        font-size: 24px;
        color: black;
        background: #ffffff9c;
        padding: 11px 18px;
        border-radius: 50px;
    }
}