.hero-section {
  width: 100vw;
  height: 100%;
}

.hero-img {
  width: 100vw;
  height: 110vh;
  object-fit: cover;
}

.hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: flex-start;
  top: 36%;
  left: 5%;
  gap: 64px;
}

.hero-heading,
.hero-subheading {
  color: white;
  margin: 0;
}

.hero-heading {
  font-size: 72px;
  font-weight: 500;

}

.hero-subheading {
  font-size: 39px;
  font-weight: 200;
}

@media (max-width: 1199px) {
  .hero-text-overlay {
    top: 28%;
  }

}

@media (max-width: 767px) {
  .hero-img, .hero-img-overlay {
  height: 100vh;
}

  .hero-heading {
    font-size: 54px;
  }

  .hero-subheading {
    font-size: 28px;
  }
}