.footer {
    background: black;
    color: #ffffff;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.footer-text a {
    color: #ffffff;
    line-height: 24px;
    margin-bottom: 16px;
}

.footer-text .social-icons a {
    color: #000000;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 28px 0;
    }
    .footer-content {
    flex-direction: column;
    margin: auto;
    gap: 40px;
}
.footer-text {
    align-items: center;
    
}
}