.cart-page {
  @apply w-full min-h-screen flex flex-col justify-between;
}

.shopping-cart-page {
  @apply w-full ;
}

/*--------------------
  Cart Menu
--------------------*/
.cart-menu {
    @apply w-[90%] lg:w-full max-w-[1000px] mx-auto flex flex-row justify-between items-center relative mt-10 md:my-[80px]
}

.cart-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #999999;
  z-index: 0;
}
.cart-menu-icon {
    @apply w-10 border-[#999999] border-[1.5px] rounded-full p-[5px]
}

.cart-menu-icon.active {
    @apply w-10 border-black border-[1.5px] rounded-full p-[5px]
}

.icon-item {
  @apply relative z-10 bg-white;
}

/*--------------------
  Cart Content
--------------------*/
.shopping-cart-content {
  @apply w-full max-w-[1200px] mx-auto p-5;
}

.cart-item {
  @apply w-full flex flex-col md:flex-row gap-6 justify-between items-center border-b border-b-[#d8d8d8] py-10 px-4 last:border-b-0;
}


h2.empty-cart {
  @apply text-center text-2xl font-semibold mb-18;
}

img.product-img {
  @apply w-[70px] h-auto mr-16;
}

h4.product-desc {
  @apply text-[16px] font-medium;
}

/*--------------------
  Total Price
--------------------*/
.total-price {
  @apply w-[90%] xl:w-full max-w-[1200px] px-3 py-6 md:px-16 md:pt-10 md:pb-5 border border-[#d8d8d8] mx-auto mb-20 md:my-20;
}

.total-price h3 {
  @apply text-[32px] font-semibold mb-10;
}

.total-price h4 {
  @apply text-[24px] font-semibold;
}

.total-price h5 {
  @apply text-[16px] font-light;
}

.total-inner {
  @apply flex flex-row justify-between items-center mb-5;
}

.total-buttons {
  @apply flex flex-row gap-1 md:gap-5 mt-10 justify-between md:justify-end;
}

.total-buttons .main-button.white {
  @apply border-black md:w-[204px] text-center;
}

.cart-item .product-counter {
  @apply border-none
}

.cart-item .product-counter input {
    @apply  border-[#e3e3e3] border-b border-t rounded-sm;
}