@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Montagu+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');



body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

p,
a,
form label {
  font-family: 'Montagu Slab', serif;
  text-decoration: none ;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}